<h2><%= @user.username %>
	<% if current_user && current_user.admin && @user.frozn %>
          <span class="label label-info">Account frozen</span>
    <% end %>
</h2>

<p>
	<% if @user.ratings.empty? %>
		Has not yet made ratings!
	<% else %>
		Has made <%= pluralize(@user.ratings.count, "rating") %>, average <%= round(@user.average_rating) %><br><br>
		User's favorite beer: <strong><%= @user.favorite_beer %></strong><br>
		User's favorite style: <strong><%= @user.favorite_style %></strong><br>
		User's favorite brewery: <strong><%= @user.favorite_brewery %></strong><br>
	<% end %>
</p>

<% if @user.beer_clubs.any? %>
	<h3>Memberships</h3>
	<ul>
		<% @user.beer_clubs.each do |beerclub| %>
			<li><%= link_to beerclub.name, beerclub %></li>
		<% end %>
	</ul>
<% end %>

<% if @user.outstanding_club_applications.any? %>
	<p>
		<strong>Applied membership of</strong>
		<ul>
		<% @user.outstanding_club_applications.each do |club| %>
			<li><%= link_to club.name, club %></li>
		<% end %>
		</ul>
	<p>
<% end %>

<h3>Ratings</h3>

<% if @user.ratings.empty? %>
	<p>Has not yet made ratings!</p>
<% else %>
	<ul>
		<% @user.ratings.each do |rating| %>
			<li> <%= rating %> 
				 <% if @user == current_user %>
				 	<%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?'}, class:"btn btn-danger" %>
				 <% end %>
			</li>
		<% end %>
	</ul>
<% end %>

<% if current_user && current_user.admin %>
	<% if @user.frozn %>
    	<%= link_to "Reactivate account", toggle_frozn_user_path(@user.id), method: :post, class:"btn btn-danger" %>
    <% else %>
    	<%= link_to "Freeze account", toggle_frozn_user_path(@user.id), method: :post, class:"btn btn-danger" %>
    <% end %>
<% end %>

<% if @user == current_user %>
	<%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %>
	<%= link_to 'Close account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
<% end %>